<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>userInfoHelper.status.equipmentInfo</key>
	<array/>
	<key>userInfoHelper.status.securityCodeForUserID</key>
	<dict/>
	<key>userInfoHelper.status.userInfo</key>
	<array>
		<string>4782</string>
	</array>
</dict>
</plist>
